html {
    height: 100%;
    background-image: linear-gradient(#09c6f9, #045de9);
    color: white;
}

body {
    margin: 0;
}

.main-content {
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    background-image: linear-gradient(#000000, #333333);
    height: 100%;
    text-align: center;
}

.main-content label {
    float: left;
    margin-bottom: 5px;
}

.main-content form input {
    padding: 5px;
    width: 100%;
    position: relative;
    display: block;
    height: 25px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}

.center-align {
    text-align: center;
}

button{
    display: inline-block;
    margin: 6px;
    font-size: inherit;
    line-height: 1.42;
    padding: 0.4em 2.7em;
    font-weight: normal;
    border-width: 0;
    border-style: solid;
    background: transparent;
    border-radius: 0.2666666667em;
    cursor: pointer;
    font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
    user-select: none;
    vertical-align: bottom;
    transition: box-shadow 0.2s, transform 0.2s, color 0.2s;
}
 
button#submit{
    box-shadow: 0 3px 0 0 #b3004a, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    background-color: #FF006A;
    background-image: linear-gradient(-45deg, #FF006A, #ff00aa);
    color: #E6EAEF;
    
}

.error {
    font-weight: bold;
    border: 1px
}